@import 'compass/css3';
@import "compass/utilities/general/clearfix";

$dark-background: #333;
$darker-background: #252525;
$text-color-light: #d9d9d9;
$text-color-dark: #353535;
$lime-color: #0F0;

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.hero-unit {
    color: $text-color-light;
    margin: 50px auto 0 auto;
    width: 900px;
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    background-color: $dark-background;
    border-radius: 0px;
    padding: 60px 50px;
    vertical-align: top;

}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

.btn {
    height: 50px;
    color: $text-color-dark;
    font-size: 24px;
    width: 100px;
    border: none;
    background: $lime-color;
    margin: 10px;
    &:hover {
        cursor: pointer;
    }
}

.main-contact {
    background: $darker-background;
    text-align: center;
    margin: 10px;
    padding: 20px;
    @include transition(all 1s);
    position: relative;
    .edit-btn {
        position: absolute;
        right: 10px;
    }
    .name {
        margin: 10px;
    }
    .bio {
        text-align: left;
    }
    .avatar {
        width: 200px;
        @include border-radius(3px);
    }
    &.empty {
        // height: 0px;
    }
}
.add-new {
    background: $darker-background;
    text-align: center;
    margin: 10px;
    padding: 20px;
    position: relative;
    .add-new-btn {
        width: 300px;
    }
}

.edit-panel {
    height: 475px;
    background: $darker-background;
    padding: 0px;
    margin: 0px;
    width: 700px;
    margin: -20px auto 20px;
    overflow: hidden;
    @include transition(all 1s);
    text-align: center;
    &.collapse {
        height: 0px;
        margin-top: -100px;
        margin-bottom: 100px;
    }   
}

.edit-form {
    width: 700px;
    background: $darker-background;
    height: 400px;
    margin: 0px;
    padding: 50px 0px 0px;
    overflow: hidden;
    text-align: center;
 
    .name {
        padding: 20px;
        margin: 10px auto;
        color: $text-color-dark;
        font-size: 35px;
        border: none;
        width: 92%;
        display: block;
    }
    .phone {
        padding: 20px;
        margin: 10px auto;
        color: $text-color-dark;
        font-size: 35px;
        border: none;
        width: 92%;
        display: block;

    }
    .bio {
        width: 92%;
        padding: 20px;
        margin: 10px auto;
        color: $text-color-dark;
        font-size: 25px;
        border: none;
        display: block;

    }
    .done-btn {
        width: 97%;
    }
}


.list-item {
    @include clearfix;
    display: inline-block;
    width: 260px;
    height: 200px;
    margin: 10px;
    padding: 20px 10px;
    background: $darker-background;
    box-shadow: -1px 1px $lime-color,
                         -2px 2px black;
    &:hover {
        cursor: pointer;
        outline: 10px solid rgba(0, 255, 0, 0.15);
    }
    .avatar {
        width: 100px;
        height: 100px;
        @include border-radius(100%);
        overflow: hidden;
        margin: 10px;
        .avatar-pic {
            width: 150px;
            display: inline-block;
            margin: 0px -25px;
        }
    }

    .details {
        margin: 10px;
    }

}



